common:
    user: "Administrator"
    pass: "xxxx"

hp:
    source: "http://10.197.251.171/boot/firmware/hp"
    ilo2_version: "2.33"
    ilo2_firmware: "ilo2_233.bin"
    ilo3_version: "1.91"
    ilo3_firmware: "ilo3_191.bin"
    ilo4_version: "2.70"
    ilo4_firmware: "ilo4_270.bin"
    ilo5_version: "1.43"
    ilo5_firmware: "ilo5_143.bin"
    c7000_version: "4.90"
    c7000_firmware: "oa490.bin"

dell:
    source: "ftp://anonymous:anonymous@10.197.251.171/pub/dell"
    m1000e_version: "6.20.200.201810113973"
    m1000e_firmware: "firmimg_6.20_A00.cmc"
    idrac8_version: "2.63.60.61"
    idrac8_firmware: "firmimg.d7"
    idrac9_version: "3.34.34.34"
    idrac9_firmware: "firmimgFIT.d9"

supermicro:
    source: ""
    x10drff-ctg_version: "0380"
    x10drh-it_version: "0380"
